<header>
  <div class="header_contactData">asd</div>
  <div class="header_logoTitle">
    <svg
      class="header_logo"
      viewBox="0 0 70 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.03003 32.1407L32.513 10.252L65.6867 32.1407"
        stroke="white"
        stroke-width="2"
      />
      <path
        d="M1 28.7568L32.75 4.70068L69 28.7568"
        stroke="#80A3C3"
        stroke-width="2"
      />
      <path
        d="M9.62683 1V16.6719L16.4379 11.6402V1H9.62683Z"
        fill="white"
        stroke="white"
        stroke-width="2"
      />
    </svg>
    <p class="header_title">
      <span class="header_titleUpper">FIRMA BUDOWLANA</span> <br />
      Piotr Kasperczyk
    </p>
  </div>
  <button class="header_navButton"></button>
</header>

<div class="about">
  <img class="about_img" src="../assets/galeria/1.jpg" />

  <div class="about_helperContainer">
    <h2 class="about_title colorAccent">O FIRMIE</h2>
    <p class="about_description">
      Firma USŁUGI BUDOWLANE PIOTR KASPERCZYK z&nbsp;powodzeniem świadczy usługi
      budowlane dla osób prywatnych jak i dla firm. Zajmujemy się budową domów
      oraz kompleksowymi remontami domów i&nbsp;mieszkań. Współpracujemy z
      biurami projektowymi, pomagamy w przygotowaniu dokumentacji
      i&nbsp;uzyskaniu pozwoleń. Jesteśmy terminowi i&nbsp;rzetelni
      w&nbsp;wykonywanych przez nas zadaniach.
    </p>

    <div class="about_decoration">
      <div class="about_decorationBackground"></div>
      <div class="about_decorationTexts">
        <div class="about_decorationText">JAKOŚĆ</div>
        <div class="about_decorationText">DOŚWIADCZENIE</div>
        <div class="about_decorationText">TERMINOWOŚĆ</div>
      </div>
    </div>

    <p class="about_contact">
      Jeżeli macie pytania odnośnie naszej oferty lub
      jesteście&nbsp;zainteresowani nawiązaniem współpracy,
      serdecznie&nbsp;zapraszamy do
      <span class="colorAccent">kontaktu</span>!
    </p>
  </div>
</div>

<div class="offer">
  <div class="offerTitle">OFERTA</div>
  <div class="offerHeader">
    <p class="offerHeader_upper">USŁUGI REMONTOWO-BUDOWLANE</p>
    <p class="offerHeader_lower">dla osób prywatnych jak i dla firm</p>
  </div>

  <div class="offerContent">
    <!-- Swipper.js implementation -->
    <div class="offerContent_swipper">
      <img
        class="offerContent_swipperImg"
        src="../assets/galeria/1.jpg"
        alt="1jpg"
      />
    </div>
    <div class="offerContentList"></div>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Usługi budowlane, materiały i sprzęt
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Budowa domów w stanie surowym
      i&nbsp;z&nbsp;wykończeniem (pod klucz)
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Kompleksowe remonty domów i mieszkań
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Budowa garaży i budynków gospodarczych
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Wykonanie płyty fundamentowej i
      termopłyty
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Roboty ziemne
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Usługi transportowe
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Ocieplanie elewacji
    </p>
  </div>
</div>

<router-outlet></router-outlet>

<!-- clamp(min(px), vw, max(px)); -->
