<header>
  <div class="header_contactData">asd</div>
  <div class="header_logoTitle">
    <svg
      class="header_logo"
      viewBox="0 0 70 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.03003 32.1407L32.513 10.252L65.6867 32.1407"
        stroke="white"
        stroke-width="2"
      />
      <path
        d="M1 28.7568L32.75 4.70068L69 28.7568"
        stroke="#80A3C3"
        stroke-width="2"
      />
      <path
        d="M9.62683 1V16.6719L16.4379 11.6402V1H9.62683Z"
        fill="white"
        stroke="white"
        stroke-width="2"
      />
    </svg>
    <p class="header_title">
      <span class="header_titleUpper">FIRMA BUDOWLANA</span> <br />
      Piotr Kasperczyk
    </p>
  </div>
  <button class="header_navButton"></button>
</header>

<div class="about">
  <img class="about_img" src="../assets/galeria/1.jpg" />

  <div class="about_helperContainer">
    <h2 class="about_title colorAccent">O FIRMIE</h2>
    <p class="about_description">
      Firma USŁUGI BUDOWLANE PIOTR KASPERCZYK z&nbsp;powodzeniem świadczy usługi
      budowlane dla osób prywatnych jak i dla firm. Zajmujemy się budową domów
      oraz kompleksowymi remontami domów i&nbsp;mieszkań. Współpracujemy z
      biurami projektowymi, pomagamy w przygotowaniu dokumentacji
      i&nbsp;uzyskaniu pozwoleń. Jesteśmy terminowi i&nbsp;rzetelni
      w&nbsp;wykonywanych przez nas zadaniach.
    </p>

    <div class="about_decoration">
      <div class="about_decorationBackground"></div>
      <div class="about_decorationTexts">
        <div class="about_decorationText">JAKOŚĆ</div>
        <div class="about_decorationText">DOŚWIADCZENIE</div>
        <div class="about_decorationText">TERMINOWOŚĆ</div>
      </div>
    </div>

    <p class="about_contact">
      Jeżeli macie pytania odnośnie naszej oferty lub
      jesteście&nbsp;zainteresowani nawiązaniem współpracy,
      serdecznie&nbsp;zapraszamy do
      <span class="colorAccent">kontaktu</span>!
    </p>
  </div>
</div>

<div class="offer">
  <div class="offerTitle">OFERTA</div>
  <div class="offerHeader">
    <p class="offerHeader_upper">USŁUGI REMONTOWO-BUDOWLANE</p>
    <p class="offerHeader_lower">dla osób prywatnych jak i dla firm</p>
  </div>

  <div class="offerContent">
    <!-- Swipper.js implementation -->
    <div class="offerContent_swipper">
      <img
        class="offerContent_swipperImg"
        src="../assets/galeria/1.jpg"
        alt="1jpg"
      />
    </div>
    <div class="offerContentList"></div>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Usługi budowlane, materiały i sprzęt
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Budowa domów w stanie surowym
      i&nbsp;z&nbsp;wykończeniem (pod klucz)
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Kompleksowe remonty domów i mieszkań
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Budowa garaży i budynków gospodarczych
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Wykonanie płyty fundamentowej i
      termopłyty
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Roboty ziemne
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Usługi transportowe
    </p>
    <p class="offerContentList_example">
      <span class="colorAccent">> </span>Ocieplanie elewacji
    </p>
  </div>
</div>

<div class="contact">
  <div class="contact-rectangle"></div>

  <div class="contact-title">
    <div class="contact-title_upper">KONTAKT</div>
    <div class="contact-title_lower">SKONTAKTUJ SIĘ Z NAMI</div>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4531.040671302634!2d18.775936115068717!3d50.17686722277519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47113531497e7c2f%3A0x89c5680686731326!2sDworcowa%2015%2C%2043-178%20Ornontowice!5e1!3m2!1spl!2spl!4v1697567321263!5m2!1spl!2spl"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div class="contact-informations">
    <div class="contact-informations_title">DANE KONTAKTOWE</div>
    <div class="contact-informations_pair">
      <svg
        class="contact-informations_locationSVG"
        width="auto"
        height="auto"
        viewBox="0 0 14 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14 6.05479C14 9.39877 11.3716 12.8548 7 17C2.30651 12.9247 0 9.39877 0 6.05479C0 2.71082 3.13401 0 7 0C10.866 0 14 2.71082 14 6.05479Z"
          fill="#7F9FBE"
        />
        <ellipse
          cx="7.00008"
          cy="6.3148"
          rx="2.33333"
          ry="2.42857"
          fill="#6C6C70"
        />
      </svg>
      <p class="contact-informations_data">
        ul. Dworcowa 15, 43-178 Ornontowice
      </p>
    </div>

    <div class="contact-informations_pair">
      <svg
        class="contact-informations_phoneSVG"
        width="auto"
        height="auto"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.63983 4.66966L4.4976 1.11437C4.4741 1.04122 4.40401 0.990946 4.3251 1.00137C3.78088 1.07323 2.52189 1.53604 1.89755 2.54456C1.04404 3.92326 0.621922 4.35956 1.43911 8.19899C2.2563 12.0384 9.4628 16 10.8822 16C11.3725 16 13.3701 15.9651 14.3551 15.1798C15.5852 14.1991 15.9605 13.8686 15.9997 13.1937C16.0036 13.1276 15.9644 13.0666 15.9031 13.0366L12.7602 11.4998C12.6928 11.4669 12.611 11.4768 12.5589 11.5295C11.9533 12.1414 11.3356 13.5014 10.1239 13.0855C9.59146 12.9028 6.946 10.987 5.6877 9.85115C5.67888 9.84319 5.67162 9.83516 5.6646 9.8257C5.13656 9.1145 3.65157 7.57449 3.88341 6.31862C3.89024 6.28162 3.91108 6.24852 3.94062 6.22389L5.58531 4.85298C5.63968 4.80766 5.66107 4.73575 5.63983 4.66966Z"
          fill="#7F9FBE"
          stroke="#7F9FBE"
          stroke-width="2"
        />
      </svg>

      <p class="contact-informations_data">+48 504 422 483</p>
    </div>
    <div class="contact-informations_pair">
      <svg
        class="contact-informations_emailSVG"
        width="auto"
        height="auto"
        viewBox="0 0 24 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 16V1H23V16H1Z" fill="#7F9FBE" />
        <path d="M1 1V16H23V1M1 1H23M1 1L11.8778 7.825L23 1" stroke="#6C6C70" />
      </svg>

      <p class="contact-informations_data contact-informations_data-helper">
        piotrkasperczyk20@interia.com
      </p>
    </div>
  </div>
</div>

<div class="footer">Maciej Urbaś & Daria Łopata © 2023</div>

<router-outlet></router-outlet>

<!-- clamp(min(px), vw, max(px)); -->
